html {
    background-image: url("images/KHHomePage.jpeg");
    background-size: cover;
    filter: blur(0.2px)
}
.socials {
    height: 45px;
    width: 45px; 
    padding: 5px;
}
#h2 {
    padding: 5px; 
    font-family:monospace;
}
hr {
    height: 2px;
    background: black;
}
.nodecor {
    background-color: none;
}
