html {
    background-image: url("images/KHHomePage.jpeg");
    background-size: cover;
    filter: blur(0.2px)
}
p.white {
    text-align: center;
    color: white;
    font-size: large;
}
h1.white {
    color: white;
}
p {
    word-spacing: 4;
    font-size: large;
}
