html {
    background-image: linear-gradient(59deg, lightblue, pink);
}
div.button_header {
    display: inline-block;
    border-radius: 12px;
    margin-right: 20px;
    
}
div.rightalign {
    text-align: right;
}
header.style {
    padding-top: 20px;
    font-family: sans-serif; 
}
hr.header {
height: 3px;
background: black;
}
h1.left {
    text-align: left;
}
footer {
    font-size: 12pt;
    position: absolute;
    bottom: 0;
    padding: 20px;
}
div.footersrc {
    text-decoration: underline;
}
a {
    color: red;
}
body {
    font-family: Times New Roman;
}
button {
    padding: 15px, 25px;
}
html.projects {
    background:black;
    color: white;
}
div.projects {
    background-color: tomato;
    font-family: Verdana;
    padding: 9px; 
}
div.centerbox {
    background-color: rgba(0, 0, 0, .73);
    padding: 27px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 300px;
    transform: translate(-50%, -50%);
}
p.white {
    text-align: center;
    color: white;
    font-size: large;
}
h1.white {
    color: white;
}
