* {
    margin: 0;
    padding: 0;
}
html {
    background-image: linear-gradient(70deg, rgba(64, 224, 208, 0.61), rgba(255, 0, 0, 0.42))
}
div.button_header {
    display: inline-block;
    border-radius: 12px;
    margin-right: 20px;
    
}
.rightalign {
    text-align: right;
}
hr.header {
    background: black;
    height: 3px;
}
h1.left {
    text-align: left;
}
.top {
    top: 0;
}
footer {
    font-size: 12pt;
    position: absolute;
    bottom: 0;
    padding: 20px;
}
div.footersrc {
    text-decoration: underline;
}
a {
    color: red;
}
body {
    font-family: Times New Roman;
}
div.projects {
    background-color: tomato;
    font-family: Verdana;
    padding: 9px; 
    border-radius: 25px;
}
div.centerbox {
    background-color: rgba(202, 77, 19, 0.747);
    padding: 27px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 300px;
    transform: translate(-50%, -50%);
}
p.white {
    text-align: center;
    color: white;
    font-size: large;
}
h1.white {
    color: white;
}
.nav-menu {
    float: right;
    list-style: none;
    margin-top: 5px;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu li a {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 20px;
}
.nav-menu li a:hover {
    border: 1px solid, gray;
    background-color: lightgreen;
    border-radius: 15px;
}
.projectsheader {
    color: white;
}
.headerspacing {
    padding: 5px; 
}
