html {
    background-image: linear-gradient(59deg, lightblue, pink);
}
div.button_header {
    display: inline-block;
    border-radius: 12px;
    margin-right: 20px;
    
}
div.rightalign {
    text-align: right;
}
header.style {
    padding: 20px;
    font-family: sans-serif; 
}
hr.header {
height: 3px;
background: black;
}
h1.left {
    text-align: left;
}
footer {
    font-size: 12pt;
    position: absolute;
    bottom: 0;
    text-align: right;  
}
div.footersrc {
    text-decoration: underline;
}
a {
    color: red;
}
body {
    font-family: Times New Roman;
}
button {
    padding: 15px, 25px;
}